* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

li {
    list-style-type: none;
}

header {
  background: black;
  height: 200px;
}

h1 {
  color: yellow;
  padding: 30px;
  font-size: 50px;
}

ul {
}

nav ul li a {
  align-items: flex-end;
  color: white;
  text-decoration: none;
  font-family: arial;
}

.quote {
  background-color: grey;
  height: 120px;
  display: flex;
}

blockquote {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 40px;
}

.hero {
  height: 700px;
  background-image: url("../../starter_code/startup_matchmaker/images/coworking.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

aside {
  width: 250px;
  padding: 30px;
  background-color: rgba(225, 225, 225, 0.5);
  border-style: solid;
  border-color: black;
  font-family: arial;
}

aside :nth-child(3) {
  color: black;
  text-decoration: none;
  background-color: yellow;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: black;
  color: white;
}
